$fontFamily: 'segoe ui light';
$mainColor: #F8F8F8;
$secondColor: #ef4836;
$darkColor: #212121;
$boxShadow: 0 5px 13px 0px rgba(0, 0, 0, 0.1);

$bgColor: #131722;
$lightBgColor: #24baef;
$bgTransparent: rgba(36, 186, 239, .6);
$fontColor: #fff;
$borderColor: #a8a8a83d;
$borderHeight: 1px;
$secondFontColor: #949cb0;

body {
    background-color: $bgColor !important;
    color: $fontColor;
    font-family: $fontFamily;
}
.btn-mine {
    background-color: $lightBgColor;
}
.btn-outline-mine {
    color: $lightBgColor;
    border: solid 1px $lightBgColor;
}
.brdr {
    height: $borderHeight;
    background-color: $borderColor;
}
a {
    color: $fontColor !important;
    text-decoration: none;
}
.vote  {
    position: absolute;
    top: 8px;
    right: 28px;
    background-color: $lightBgColor;
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
}
.movie-item img {
    width: 60px;
}